@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Geist, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Georgia, serif;
  --radius: 0.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.8875 0.0100 67.6967);
  --foreground: oklch(0.2708 0.0089 57.9068);
  --card: oklch(0.8484 0.0108 67.6803);
  --card-foreground: oklch(0.2708 0.0089 57.9068);
  --popover: oklch(0.8484 0.0108 67.6803);
  --popover-foreground: oklch(0.2708 0.0089 57.9068);
  --primary: oklch(0.4280 0.0473 56.6156);
  --primary-foreground: oklch(0.9628 0.0033 67.7844);
  --secondary: oklch(0.8088 0.0114 67.6649);
  --secondary-foreground: oklch(0.2708 0.0089 57.9068);
  --muted: oklch(0.8323 0.0100 67.6891);
  --muted-foreground: oklch(0.5114 0.0101 58.0889);
  --accent: oklch(0.7836 0.0190 58.0253);
  --accent-foreground: oklch(0.2708 0.0089 57.9068);
  --destructive: oklch(0.4943 0.1180 32.8994);
  --border: oklch(0.7693 0.0139 67.6196);
  --input: oklch(0.7693 0.0139 67.6196);
  --ring: oklch(0.4280 0.0473 56.6156);
  --chart-1: oklch(0.4759 0.0537 56.5657);
  --chart-2: oklch(0.5852 0.0561 75.6283);
  --chart-3: oklch(0.4179 0.0326 47.9214);
  --chart-4: oklch(0.6636 0.0354 84.5510);
  --chart-5: oklch(0.5886 0.0658 39.2089);
  --sidebar: oklch(0.8338 0.0149 67.6207);
  --sidebar-foreground: oklch(0.3723 0.0136 57.8516);
  --sidebar-primary: oklch(0.4280 0.0473 56.6156);
  --sidebar-primary-foreground: oklch(0.9628 0.0033 67.7844);
  --sidebar-accent: oklch(0.8009 0.0119 67.6564);
  --sidebar-accent-foreground: oklch(0.4280 0.0473 56.6156);
  --sidebar-border: oklch(0.7534 0.0149 67.5995);
  --sidebar-ring: oklch(0.4280 0.0473 56.6156);
  --destructive-foreground: oklch(0.9628 0.0033 67.7844);
  --font-sans: Geist, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: hsl(25, 10%, 5%);
  --shadow-opacity: 0.12;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.06);
  --shadow-xs: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.06);
  --shadow-sm: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.12), 0px 1px 2px -1px hsl(25, 10%, 5% / 0.12);
  --shadow: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.12), 0px 1px 2px -1px hsl(25, 10%, 5% / 0.12);
  --shadow-md: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.12), 0px 2px 4px -1px hsl(25, 10%, 5% / 0.12);
  --shadow-lg: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.12), 0px 4px 6px -1px hsl(25, 10%, 5% / 0.12);
  --shadow-xl: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.12), 0px 8px 10px -1px hsl(25, 10%, 5% / 0.12);
  --shadow-2xl: 0px 4px 12px 0px hsl(25, 10%, 5% / 0.30);
  --tracking-normal: -0.01em;
}

.dark {
  --background: oklch(0.1417 0.0044 285.8192);
  --foreground: oklch(0.9550 0.0026 67.7915);
  --card: oklch(0.1750 0.0073 285.6191);
  --card-foreground: oklch(0.9550 0.0026 67.7915);
  --popover: oklch(0.1417 0.0044 285.8192);
  --popover-foreground: oklch(0.9550 0.0026 67.7915);
  --primary: oklch(0.9054 0.1546 194.7689);
  --primary-foreground: oklch(0.1417 0.0044 285.8192);
  --secondary: oklch(0.2633 0.0071 285.9047);
  --secondary-foreground: oklch(0.9550 0.0026 67.7915);
  --muted: oklch(0.2111 0.0050 285.9661);
  --muted-foreground: oklch(0.7127 0.0128 286.0699);
  --accent: oklch(0.2633 0.0071 285.9047);
  --accent-foreground: oklch(0.9550 0.0026 67.7915);
  --destructive: oklch(0.4760 0.1590 25.6357);
  --border: oklch(0.2633 0.0071 285.9047);
  --input: oklch(0.2633 0.0071 285.9047);
  --ring: oklch(0.9054 0.1546 194.7689);
  --chart-1: oklch(0.9054 0.1546 194.7689);
  --chart-2: oklch(0.6983 0.1337 165.4626);
  --chart-3: oklch(0.7232 0.1500 60.6307);
  --chart-4: oklch(0.6192 0.2037 312.7283);
  --chart-5: oklch(0.6123 0.2093 6.3856);
  --sidebar: oklch(0.1287 0.0040 285.8299);
  --sidebar-foreground: oklch(0.8798 0.0052 286.2924);
  --sidebar-primary: oklch(0.9054 0.1546 194.7689);
  --sidebar-primary-foreground: oklch(0.1417 0.0044 285.8192);
  --sidebar-accent: oklch(0.2323 0.0058 285.9375);
  --sidebar-accent-foreground: oklch(0.9054 0.1546 194.7689);
  --sidebar-border: oklch(0.2323 0.0058 285.9375);
  --sidebar-ring: oklch(0.9054 0.1546 194.7689);
  --destructive-foreground: oklch(0.9550 0.0026 67.7915);
  --radius: 0.375rem;
  --font-sans: Geist, system-ui;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-opacity: 0.5;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: -0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.25);
  --shadow-xs: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.25);
  --shadow-sm: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.50);
  --shadow: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 1px 2px -1px hsl(0, 0%, 0% / 0.50);
  --shadow-md: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 2px 4px -1px hsl(0, 0%, 0% / 0.50);
  --shadow-lg: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 4px 6px -1px hsl(0, 0%, 0% / 0.50);
  --shadow-xl: 0px 4px 15px 0px hsl(0, 0%, 0% / 0.50), 0px 8px 10px -1px hsl(0, 0%, 0% / 0.50);
  --shadow-2xl: 0px 4px 15px 0px hsl(0, 0%, 0% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}